<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="flex">
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: true %>
    </div>

    <div class="field">
      <%= f.label :middle_name %><br />
      <%= f.text_field :middle_name, autofocus: true, autocomplete: "middle_name" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", required: true %>
    </div>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>
  <br>
  <p>
  By voluntarily registering on this site, you consent to:
    (i) the collection, use and disclosure by the XYZ Institutions of your personal information, including your personal health information for the purposes of:
    (a) institutional planning to assist with the creation (b) notification and/or delivery of other programs and services (c) statistical analysis necessary to further assist
    (d) planning of or response to a natural disaster or other event deemed to be an emergency (collectively, the "Purposes"); and (ii) being contacted by the XYZ Institutions for reasons related to the Purposes. For more information please review our Privacy Policy.
  </p>
  <%= f.radio_button :terms, "true" %> I agree
  <br>
  <%= f.radio_button :terms, "false", checked: true %> I do not agree
  <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  <br>

<%= render "devise/shared/links" %>
