<%= form_with(model: camp_location, local: true) do |form| %>
  <%= render 'shared/errors', object: camp_location %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
