<h2>Personal Information</h2>
  <ul>
    <% @camp_application.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<%= render partial: 'shared/progressbar', locals: { current_step: 'personal_information' } %>
<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div>
    <% if @camp_application.image.attached? %>
      <%= image_tag(@camp_application.image , class: "img-circle img-responsive", style: "height: 200px; width: 200px") %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :Image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ['Male','Female'] %>
  </div>
  
  <div class="actions">
    <%= f.submit "done" %>
  </div>
<% end %>
<%= link_to 'skip', next_wizard_path %>
