<h1>View Application</h1>
<p>
  <% if @camp_application.image.attached? %>
    <%= image_tag(@camp_application.image , class: "img-circle img-responsive img-dim") %>
  <% end %>
</p>
<p>
  <strong>Name:</strong>
  <%= @camp_application.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @camp_application.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @camp_application.gender %>
</p>

<p>
  <strong>Step two:</strong>
  <%= @camp_application.step_two %>
</p>

<p>
  <strong>Step three:</strong>
  <%= @camp_application.step_three %>
</p>

<p>
  <strong>Step four:</strong>
  <%= @camp_application.step_four %>
</p>

<p>
  <strong>Step five:</strong>
  <%= @camp_application.step_four %>
</p>

<p>
  <strong>Step six:</strong>
  <%= @camp_application.step_six %>
</p>

<p>
  <strong>Step seven:</strong>
  <%= @camp_application.step_seven %>
</p>

<p>
  <strong>Step eight:</strong>
  <%= @camp_application.step_eight %>
</p>

<p>
  <strong>Step nine:</strong>
  <%= @camp_application.step_nine %>
</p>

<p>
  <strong>Step ten:</strong>
  <%= @camp_application.step_ten %>
</p>
