<h2>Step Ten</h2>
<%= render partial: 'progressbar', locals: { current_step: 'step_ten' } %>
<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div class="field">
    <%= f.label :step_ten %><br />
    <%= f.text_field :step_ten %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
<%= link_to 'back', previous_wizard_path %>
