<h2>Step Three</h2>
<%= render partial: 'progressbar', locals: { current_step: 'step_three' } %>
<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div class="field">
    <%= f.label :step_three %><br />
    <%= f.text_field :step_three %>
  </div>

  <div class="actions">
    <%= f.submit "done" %>
  </div>
<% end %>
<%= link_to 'back', previous_wizard_path %> | <%= link_to 'skip', next_wizard_path %>
