<h1>All Users</h1>
  <div>
    <%= form_tag search_admin_users_path, class: 'navbar-form navbar-right', method: :get do %>
      <%= search_field_tag :search, params[:search] %>
      <%= submit_tag "search", class: 'btn btn-default', name: nil %>
    <% end %>
  </div>
<%= link_to 'CSV Download', admin_users_path(:format => :csv),class: 'navbar-form navbar-left' %>

<br><br>
<table>
  <thead>
    <tr class="row">
      <th class="col col-md-3"><%= sort_link "first_name", "name" %></th>
      <th class="col col-md-4"><%= sort_link "email" %></th>
      <th class="col col-md-2"><%= sort_link "country" %></th>
      <th class="col col-md-3"><%= sort_link "phone_number" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="row">
        <td class="col col-md-3">
          <%= user.first_name + ' ' %>
          <% if user.middle_name.present? %>
            <%= user.middle_name + ' ' %>
          <% end %>
          <%= user.last_name %>
        </td>
        <td class="col col-md-4"><%= user.email %></td>
        <td class="col col-md-2"><%= country_name(user.country) %></td>
        <td class="col col-md-3"><%= user.phone_number %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<br>
